$primary-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'Roboto', sans-serif;
$secondary-spacing: 0.03em;
$base-dark: #2e2e38;

// TODO: Попробовать dart-sass для краткой нотации
// $base-dark-overlay: rgb(19 176 229 / 4%);
$base-dark-overlay: rgba(19, 176, 229, 4%);
$sky-blue-overlay: #2d333f;
$sky-blue-overlay-darker: #3b4558;
$base-grey: #ababaf;
$base-sky: #13b0e5;
$base-cherry: #ed3f41;
$grey-filler: #7e7e91;
$base-pineapple: #ff9600;
