@import './../../scss/commons/variables';

.form {
  width: 100%;

  &-submit {
    background-color: $base-pineapple;
    width: 100%;
    border: 0;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: $primary-font-family;
    font-weight: 700;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    margin-bottom: 24px;
  }
}
