h2.form-title= title
each field, index in fields 
    template(data-component="form-group-" + index)
button.form-submit(type="submit")= buttonText
footer.form-footer
    p= footerText
    a.link(href=link)= linkText
