@import '../../../scss/commons/variables';

.chat {
  &_footer {
    background-color: $sky-blue-overlay;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 10%);
    width: 100%;
    position: relative;
    z-index: 108;
    display: flex;
    align-items: center;
  }

  &_add-attachment {
    width: 64px;
    height: 80px;
    background-image: url('/src/assets/images/attach.svg');
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &_input {
    resize: none;
    font-size: 18px;
    font-weight: 300;
    height: 28px;
    font-family: $secondary-font-family;
    padding: 4px 16px;
    margin-right: 2px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparent;
    color: white;
    border: 0;
    flex-grow: 1;

    // TODO: Настроить контроль высоты textarea
    // TODO: Настроить аутлайны (глобально для всех контролов)
    &:hover,
    &:focus {
      outline: 0;
    }
  }

  &_submit-holder {
    width: 64px;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  &_submit-message {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 64px;
    height: 100%;
    background-color: $base-sky;
    background-image: url('/src/assets/images/arrow.svg');
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s ease-in right;

    &:disabled {
      right: -64px;
    }
  }
}
