@import '../../../scss/commons/variables';

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgb(0 0 0 / 70%);
  overflow-x: hidden;
  overflow-y: auto;

  // TODO: Соглашение по z-index'ам
  z-index: 1000;

  .form {
    width: 520px;
    padding: 48px 48px 20px;
  }

  &.show {
    display: block;
  }

  &-dialog {
    max-width: fit-content;
    margin: 20px auto;
    display: flex;
    align-items: center;
    min-height: 90%;
  }

  &-content {
    position: relative;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    min-width: 100px;
    min-height: 100px;
    background-color: #2e2e38;
    border-radius: 10px;

    .close-button {
      position: absolute;
      right: 16px;
      top: 16px;
      box-sizing: content-box;
      width: 18px;
      height: 18px;
      padding: 0.25em;
      border: 0;
      border-radius: 0.25rem;
      opacity: 30%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url('/src/assets/images/close-icon.svg');
    }
  }
}

.show-modal {
  overflow: hidden;
  position: relative;
}
