include ../../mixins/link/index
h1(hidden) Настройки пользователя
main.profile-container
    article.profile
        header.profile-header
            img.profile-avatar(src="../../images/default-avatar.svg")
            div.profile-title
                h2.profile-name Иван
                p 
                    +link('Изменить данные', '/')
                p
                    +link('Изменить пароль', '/')
        ul.profile-list
            each item in userData
                li
                    span= item.name
                    span= item.value
        +link('Вернуться', '/')(class="return-link")

