h1(hidden) Настройки пользователя
main.profile-container
    article.profile
        header.profile-header
            img.profile-avatar(src=defaultAvatar)
            div.profile-title
                h2.profile-name Иван
                p 
                    a.link(href="/") Изменить данные
                p
                    a.link(href="/") Изменить пароль
        ul.profile-list
            each item in userData
                li
                    span= item.name
                    span= item.value
        a.link.return-link(href="/") Вернуться

