.loading-modal {

    .modal-inner {
        border-radius: 10px;
        background-color: #2e2e38;
        width: 160px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spinner-border {
    display: inline-block;
    width: 44px;
    height: 44px;
    vertical-align: -0.125em;
    border: 0.25em solid white;
    border-right-color: transparent;
    border-radius: 50%;
    animation: .75s linear infinite spinner-border;
}
