@import '../commons/variables';

* {
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

::-webkit-scrollbar {
  width: 3px;
  background-color: $base-grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $base-sky;
  border-radius: 10px;
}

fieldset {
  border: 0;
}

ul {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 16px;
  }
}

button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

a,
button {
  cursor: pointer;
}

p {
  margin-top: 0;
  margin-bottom: 0.8em;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1 px !important;
  height: 1 px !important;
  padding: 0 !important;
  margin: -1 px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}


.content {
  font-family: $primary-font-family;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: $base-dark;
  color: white;
  flex-direction: column;

  &-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 6px;
    width: 520px;
    box-sizing: border-box;
    background-color: $base-dark;
    box-shadow: 0 4px 22px rgb(0 0 0 / 44%);
    padding: 56px 40px 40px;
  }
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgb(0 0 0 / 70%);
  z-index: 1000;
  justify-content: center;
  align-items: center;

  .modal-inner {
    position: relative;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;

    .close-button {
      position: absolute;
      right: 16px;
      top: 16px;
      box-sizing: content-box;
      width: 18px;
      height: 18px;
      padding: 0.25em 0.25em;
      border: 0;
      border-radius: 0.25rem;
      opacity: 0.3;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url('/src/assets/images/close-icon.svg');
    }
  }

  &.show {
    display: flex;
  }
}

.show-modal {
  overflow: hidden;
  position: relative;
}

.form-container {
  @extend .content;

  box-sizing: border-box;
  padding: 100px 0;
}

.link {
  font-family: $primary-font-family;
  margin: auto 0 6px;
  color: $base-sky;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid $base-sky;
  transition: 0.2s ease-in;
  width: fit-content;

  &:hover,
  &:focus {
    border-bottom-color: transparent;
    opacity: 80%;
  }

  &:active {
    opacity: 100%;
  }
}
