@import '../commons/variables';

* {
    box-sizing: content-box;

    &::after,
    &::before {
        box-sizing: content-box;
    }
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 3px; 
    height: 1px; 
    background-color: $base-grey;
    border-radius: 9em;
}

::-webkit-scrollbar-thumb {
    background-color: $grey-filler;
    border-radius: 9em;
}

fieldset {
    border: 0;
}

ul {
    list-style: none;
    padding: 0;

    li {
        margin-bottom: 16px;
    }
}

.content {
    font-family: $primary-font-family;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: $base-dark;
    color: white;
    flex-direction: column;
    color: white;

    &-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border-radius: 6px;
        width: 520px;
        box-sizing: border-box;
        background-color: $base-dark;
        box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.44);
        padding: 56px 40px 40px;
    }
}

.link {
    font-family: $primary-font-family;
    margin: auto 0 6px;
    color: $base-sky;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid $base-sky;
    transition: 0.2s ease-in;
    width: fit-content;

    &:hover,
    &:focus {
        border-bottom-color: transparent;
        opacity: 0.8;
    }

    &:active {
        opacity: 1;
    }
}