@import '../commons/variables';

* {
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

::-webkit-scrollbar {
  width: 3px;
  background-color: $base-grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $base-sky;
  border-radius: 10px;
}

fieldset {
  border: 0;
}

ul {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 16px;
  }
}

button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

a,
button {
  cursor: pointer;
}

p {
  margin-top: 0;
  margin-bottom: 0.8em;
}

pre {
  white-space: break-spaces;
  margin: 0;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1 px !important;
  height: 1 px !important;
  padding: 0 !important;
  margin: -1 px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.content {
  font-family: $primary-font-family;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: $base-dark;
  color: white;
  flex-direction: column;

  &-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 6px;
    width: 520px;
    box-sizing: border-box;
    background-color: $base-dark;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.44);
    padding: 56px 40px 40px;
  }
}

.form-container {
  @extend .content;

  box-sizing: border-box;
  padding: 100px 0;
}

.link {
  font-family: $primary-font-family;
  margin: auto 0 6px;
  color: $base-sky;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid $base-sky;
  transition: 0.2s ease-in;
  width: fit-content;

  &_red {
    color: $base-cherry;
    border-bottom: $base-cherry 1px solid;
  }

  &:hover,
  &:focus {
    border-bottom-color: transparent;
    opacity: 80%;
  }

  &:active {
    opacity: 100%;
  }
}

.button {
  background-color: $base-pineapple;
  width: 100%;
  border: 0;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: $primary-font-family;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
