h1(hidden) Настройки пользователя
main.profile
    article.profile_inner
        header.profile_header
            button.profile_avatar-holder#change-avatar
                img.profile_avatar(src=avatar crossorigin='use-credentials')
            div.profile_title
                h2.profile_name= userName
                p 
                    button.link#change-info Изменить данные
                p
                    a.link#change-password Изменить пароль
        ul.profile_list
            if userData
                each item in userData
                    li
                        span= item.name
                        span= item.value
        footer.profile_footer 
            a.link(href="/") Вернуться
            button#logout.link Выход
    template(data-component="changePasswordModal")
    template(data-component="changeInfoModal")
    template(data-component="changeAvatarModal")


