h1(hidden) Настройки пользователя
template(data-component="changePasswordModal")
main.profile
    article.profile_inner
        header.profile_header
            img.profile_avatar(src=avatar)
            div.profile_title
                h2.profile_name= userName
                p 
                    button.link#change-data Изменить данные
                p
                    a.link#change-password Изменить пароль
        ul.profile_list
            if userData
                each item in userData
                    li
                        span= item.name
                        span= item.value
        footer.profile_footer 
            a.link(href="/") Вернуться
            button#logout.link Выход

