extends ../../blocks/layout.pug
include ../../mixins/error-page/index.pug
block head
    title 500 — #{title}
    script(src="./script.js" type="module")
block content
    +error-page('500', 'Ошибка', 'Ага, уже бежим', 'Вернуться к чатам', '/')
