include ../../mixins/form-page/index
include ../../mixins/form-group/index
h1(hidden) Регистрация
+form-page('Регистрация', 'Поехали', 'Уже есть аккаунт?', 'Чего молчишь', '/')
    each f in formGroups
        +form-group(f.label, f.id, f.inputType, f.validationMessage, f.isRequired)