include ../../mixins/form-group/index
h1(hidden) Регистрация
main.form-container
    form.form
        h2.form-title Регистрация
        each f in formGroups
            +form-group(f.label, f.id, f.inputType, f.validationMessage, f.isRequired)
        button.form-submit(type="submit") Поехали
        footer.form-footer
            p Уже есть аккаунт?
            a.link(href="/") Чего молчишь