@import '../../scss/commons/variables';

.chats {
  font-family: $primary-font-family;
  display: grid;
  grid-template-columns: 3.5fr 6.5fr;
  height: 100vh;
  overflow-y: hidden;
  background-color: $base-dark;
  color: white;
  position: relative;
}

// TODO: Попробовать реализовать всё одной хитрой grid-раскладкой + адаптив
.chats-aside {
  background-color: $base-dark-overlay;
  position: relative;
  z-index: 109;
  box-shadow: -6px 5px 8px rgb(0 0 0 / 30%);

  &_header {
    padding: 16px;
    box-shadow: -2px 5px 4px rgb(0 0 0 / 5%);
    display: grid;
    grid-template: 48px / 80px 1fr;
    grid-gap: 10px;
  }
}

.profile-link {
  background-color: white;
  box-shadow: 0 4px 4px $base-dark;
  border-radius: 4px 6px;
  box-sizing: border-box;
  padding: 4px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 48px;

  &_avatar {
    width: 40px;
    height: 40px;
    margin-right: 4px;
    border-radius: 50%;
  }

  .icon-holder {
    background-image: url('/src/assets/images/menu-left.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 28px;
    height: 24px;
  }
}

.search-input {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  opacity: 80%;
  border-radius: 5px;
  outline: 0;
  border: 0;
  height: 48px;
  flex: 1;
  font-weight: 500;
  font-size: 20px;
  color: $base-dark;
  transition: 0.2s opacity ease-in;

  &::after {
    content: '';
    display: inline-block;
    background-image: url('../../assets/images/find-icon.svg');
    width: 24px;
    height: 24px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:focus {
    opacity: 100%;
  }
}

.chat-feed {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  position: relative;

  &_empty {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_plug {
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    color: $grey-filler;
  }
}
