h1(hidden) Чаты
main.chats
    aside.chats-aside
        header.chats-aside_header
            a(href="/settings").profile-link
                img(src=avatar, alt="Вы").profile-link_avatar
                div.icon-holder
            //- input(type="text" name="search").search-input
            button.button#create-chat Создать чат
        template(data-component="chatTape")
    section.chat-feed
      if activeChat
        //- TODO: Проверять активность чата другим способом
        //- Иначе нет возможности обновить данные активного чата, так как теряется фокус инпута при ререндере
        .chat
          template(data-component="chatHeader")
          template(data-component="chatBody")
          template(data-component="chatFooter")
      else
        div.chat-feed_empty
            span.chat-feed_plug У тебя тут чё, реально одни костыли и велосипеды?
template(data-component="createChatModal")
