extends ../src/blocks/layout.pug
block head
    title #{title} 
    script(src="../src/index.js" type="module") 
block content
    h1 Разводящая
    p Страницы
    - let list = ['authorization', 'registartion', 'main', 'user-settings', '404', '500'];
    ul 
        each item in list
            li
                a(href="../src/pages/" + item) #{item}

