extends ../../blocks/layout.pug
include ../../mixins/error-page/index.pug
block head
    title 404 — #{title}
    script(src="./script.js" type="module")
block content
    +error-page('404', 'Ошибка', 'Не туда попали?', 'Вернуться к чатам', '/')