section.error-container
    article.error-block
        h1.error-label= errorCode
        div.error-mount
            h2.title Ошибка
            p.message= message
            a.link(href=linkAddress)= linkText
