@import './scss/globals';
@import './mixins/link/styles';

.content {
  flex-direction: column;
  color: white;

  &-inner {
    padding: 56px 40px 40px;
  }
}

.link {
  font-family: $primary-font-family;
  margin: auto 0 6px;
  color: $base-sky;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid $base-sky;
  transition: 0.2s ease-in;
  width: fit-content;

  &:hover, &:focus {
      border-bottom-color: transparent;
      opacity: 0.8;
  }

  &:active {
      opacity: 1;
  }
}

ul {
  list-style: none;
  padding: 0;
  li {
    margin-bottom: 16px;
  }
}